 /*style the retrived posts */
 
 .posts{
   width: 90%;
    display: grid;
    justify-content: space-around;
    gap: 20px;
    grid-template-columns: 30% 25% 30%;
    position: relative;
  }
  .item{
    display:flex;
    position: relative;
    width: 100%;
    height: 200px;
    border: 2px solid;
    border-radius: 10px;
    background-color: blue;
    z-index: 1;
  }
  .item::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(223, 223, 27);
    position: absolute;
    z-index: 7;
  }
  .title{
    position: absolute;
    top: 0;
    left: 5px;
  }
  .msg{
    position: absolute;
    top: 20px;
    left: 5px;
  }
  .like,.repost{
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  .like{
    right: 80px;
  }
  /*notification div */
  #notification{
    align-self: center;
    background-color: azure;
    border-radius: 5%;
    padding: 5px 30px;
    display: none;
    transition: all 3s ease;
  }
  @media (max-width:760px) {
#posts,.posts{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.item{
  width: 80%;
}
  }