
*{
    margin: 0;
    padding: 0;
  }
  body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .leftpart{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .addpost{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(30px);
    z-index: -1;
  }
  .irregular{
    height: 100%;
    width: 50%;
    background: linear-gradient(-14deg,rgb(243, 237, 237),rgb(237, 35, 35),rgb(255, 38, 0),red);
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 30px;
    /*
    clip-path:polygon(20% 0%,30% 10%,60% 0%,-40% -50%,80% 10%,100% 0%,100% 100%,0% 100%);
    */
    clip-path:polygon(30% 0%, 70% 0%,70% 20%,100% 20%,100% 50%,70% 50%,70% 100%,30% 100%,30% 50%,0% 50%,0% 20%,30% 20%);
  }
  
  form{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  #msg{
    width: 100%;
    min-width: 500px;
    min-height: 150px;
    border: solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  #titlein{
    border: solid;
    border-radius: 10px;
    width: 300px;
    height: 30px;
  }
  #submit{
    align-self: flex-end;
    border: solid;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background-color: aliceblue;
  }
.intract{
  position: absolute;
  transform: translateY(-40px);
  font-size: 30px;
}
@media (max-width:760px) {
main{
  display: block;
  flex-wrap: nowrap;
} 
.leftpart{
  width: 100%;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 50px;
} 
#greet{
  font-size: 20px;
}
#titlein{
  width: 160px;
}
#msg{
    min-width: 50px;
    width: 200px;
    min-height: 150px;
  }
.background{
  border-bottom-left-radius: 60px;
}
.irregular{
  width: 100%;
} 
.intract{
  font-size: 25px;
  left: 10px;
  top: 0;
  position: absolute;
  align-self: flex-start;
  transform: translateY(-30px);
}
}